---
const { title, url, description, tags, image, author, pubDate } = Astro.props;
---

<script>
  const onClick = (url: string | undefined) => {
    window.location.href = `${url}`;
  };
  const projCard = document.querySelector(".projcardreadmore") as HTMLElement;
  projCard?.addEventListener("click", () => onClick(projCard.dataset.url));

  const tags = document.querySelectorAll(
    ".projcard-tag",
  ) as NodeListOf<HTMLElement>;
  tags?.forEach((tag) => {
    tag.addEventListener("click", () => {
      window.location.href = `/tags/${tag.dataset.tag}`;
    });
  });
</script>

<div class="projcard projcard-orange">
  <div class="projcard-innerbox">
    <img class="projcard-img" src={image.url} alt={image.alt} />
    <div class="projcard-textbox">
      <div class="projcard-title">{title}</div>
      <div class="projcard-subtitle">By: {author}</div>
      <div class="projcard-bar"></div>
      <div class="projcard-description">{description}</div>
      <div class="projcard-flexer">
        <div class="projcard-tagbox">
          {
            tags.map((tag) => (
              <span class="projcard-tag" data-tag={tag}>
                {tag}
              </span>
            ))
          }
        </div>
        <div class="projcard-readmore" data-url={url}>
          <a href={url}>Read More</a>
        </div>
      </div>
    </div>
  </div>

  <style>
    .projcard-container,
    .projcard-container * {
      box-sizing: border-box;
    }
    .projcard-container {
      margin-left: auto;
      margin-right: auto;
      width: 1000px;
    }

    .projcard-readmore {
      font-size: 1.5rem;
      cursor: pointer !important;
      margin-top: 1rem;
      color: #ff5722;
      background: #f5d4d483;
      font-weight: 600;
      transition: color 0.2s;
      width: fit-content;
      padding: 5px;
      border-radius: 5px;
    }

    .projcard-readmore a {
      color: #ff5722;
      text-decoration: none;
      cursor: pointer !important;
    }

    .projcard-readmore:hover {
      bg-color: #f5d4d4;
    }

    .projcard {
      position: relative;
      width: 100%;
      height: 300px;
      margin-bottom: 40px;
      border-radius: 10px;
      background-color: #fff;
      border: 2px solid #ddd;
      font-size: 18px;
      overflow: hidden;
      box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
      transition:
        box-shadow 0.2s ease,
        transform 0.2s ease;
    }

    .projcard-flexer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }

    .projcard:hover {
      box-shadow: 0 34px 32px -33px rgba(0, 0, 0, 0.18);
      transform: translate(0px, -3px);
      /* May want to change this? Hm. */
      /* cursor: pointer; */
    }
    .projcard::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(-70deg, #424242, transparent 50%);
      opacity: 0.07;
    }
    .projcard:nth-child(2n)::before {
      background-image: linear-gradient(-250deg, #424242, transparent 50%);
    }
    .projcard-innerbox {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .projcard-img {
      position: absolute;
      height: 300px;
      width: 400px;
      top: 0;
      left: 0;
      transition: transform 0.2s ease;
    }
    .projcard:nth-child(2n) .projcard-img {
      left: initial;
      right: 0;
    }
    .projcard:hover .projcard-img {
      transform: scale(1.05) rotate(1deg);
    }
    .projcard:hover .projcard-bar {
      width: 70px;
    }
    .projcard-textbox {
      position: absolute;
      top: 7%;
      bottom: 7%;
      left: 430px;
      width: calc(100% - 470px);
      font-size: 17px;
    }
    .projcard:nth-child(2n) .projcard-textbox {
      left: initial;
      right: 430px;
    }
    .projcard-textbox::before,
    .projcard-textbox::after {
      content: "";
      position: absolute;
      display: block;
      background: #ff0000bb;
      background: #fff;
      top: -20%;
      left: -55px;
      height: 140%;
      width: 60px;
      transform: rotate(8deg);
    }
    .projcard:nth-child(2n) .projcard-textbox::before {
      display: none;
    }
    .projcard-textbox::after {
      display: none;
      left: initial;
      right: -55px;
    }
    .projcard:nth-child(2n) .projcard-textbox::after {
      display: block;
    }
    .projcard-textbox * {
      position: relative;
    }
    .projcard-title {
      font-size: 24px;
      font-weight: 600;
      color: #424242;
    }
    .projcard-subtitle {
      margin-top: 0.5rem;
      color: #888;
    }
    .projcard-bar {
      left: -2px;
      width: 50px;
      height: 5px;
      margin: 10px 0;
      border-radius: 5px;
      background-color: #424242;
      transition: width 0.2s ease;
    }

    .projcard-orange .projcard-bar {
      background-color: #ff5722;
    }
    .projcard-orange::before {
      background-image: linear-gradient(-70deg, #ff5722, transparent 50%);
    }
    .projcard-orange:nth-child(2n)::before {
      background-image: linear-gradient(-250deg, #ff5722, transparent 50%);
    }

    .projcard-customcolor .projcard-bar {
      background-color: var(--projcard-color);
    }
    .projcard-customcolor::before {
      background-image: linear-gradient(
        -70deg,
        var(--projcard-color),
        transparent 50%
      );
    }
    .projcard-customcolor:nth-child(2n)::before {
      background-image: linear-gradient(
        -250deg,
        var(--projcard-color),
        transparent 50%
      );
    }
    .projcard-description {
      z-index: 10;
      font-size: 15px;
      color: #424242;
      margin-top: 10px;
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .projcard-tagbox {
      position: absolute;
      bottom: 3%;
      font-size: 14px;
    }
    .projcard-tag {
      display: inline-block;
      background: #ff5622a3;
      color: #424242;
      border-radius: 3px 0 0 3px;
      line-height: 26px;
      padding: 0 10px 0 23px;
      position: relative;
      margin-right: 20px;
      cursor: pointer;
      transition: color 0.2s;
    }
    .projcard-tag::before {
      content: "";
      position: absolute;
      background: #e0e0e0;
      border-radius: 10px;
      box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
      height: 6px;
      left: 10px;
      width: 6px;
      top: 10px;
    }
    .projcard-tag::after {
      content: "";
      position: absolute;
      border-bottom: 13px solid transparent;
      border-left: 10px solid #ff5622a3;
      border-top: 13px solid transparent;
      right: -10px;
      top: 0;
    }

    @media (max-width: 968px) {
      .projcard-img {
        display: none;
      }
      .projcard-textbox {
        left: 0;
        width: 100%;
      }
      .projcard:nth-child(2n) .projcard-textbox {
        right: 0;
      }
      .projcard-textbox::before,
      .projcard-textbox::after {
        display: none;
      }

      .projcard-innerbox {
        margin: 0 20px;
      }
    }
  </style>
</div>
